---
- hosts: all
  user: ansible
  become: yes
  gather_facts: yes
  vars:
    required_packages:
      - nginx
      - git
      - curl
  tasks:
    - name: Install required packages
      ansible.builtin.apt:
        name: "{{ item }}"
        state: present
        update_cache: yes
      loop: "{{ required_packages }}"
