---
- hosts: all
  user: ansible
  become: yes
  gather_facts: yes
  tasks:
    - name: create multiple users
      user:
        name: "{{ item }}"
        state: present
      with_items:
        - user1
        - user2
        - user3
